body {
  background-color: #111;
  color: #fff;
  font-family: system-ui, -apple-system,"Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  place-content: center;
}

canvas {
  border: 4px solid #00ffff;
  border-bottom: transparent;
  background: #000;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 0px rgb(0 255 255 / 0.5);
}

.paginaInicio{
  position: absolute;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.boton {
  font-size: x-large;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000;
  cursor: pointer;
  border: 3px solid #00ffff;
  padding: 0.5em 0.5em;
  box-shadow: 1px 1px 0px 0px #ff00ff, 2px 2px 0px 0px #ff00ff, 3px 3px 0px 0px #ff00ff, 4px 4px 0px 0px #ff00ff, 5px 5px 0px 0px #ff00ff;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transition-property: box-shadow;
}

.boton:hover, .boton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  transition-duration: 500ms;
  border-color: #ff00ff;
}

.botonAccion {
  width: 80%;
}

.active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  background-color: #00ffff;
  color: #000;
  border-color: #00ffff;
}

.dialog{
  background-color: #111;
  color: #fff;
  width: 400px;
  border: solid #00ffff 3px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
}

.divDialog{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.numero{
  display: inline-flex;
  width: 18px;
}

.ajustes{
  display: flex;
  gap: 5px;
  align-items: center;
}

h1{
  margin: 0;
}

p{
  font-size: 20px;
  font-weight: bold;
}

.oculto {
  display: none;
}

.iconContainer {
  position: fixed;
  display: flex;
  top: 20px;
  right: 20px;
}

.link{
  transition: all 0.3s linear;
}

.link:hover{
  transform: scale(1.1);
}

.icono{
  width: 35px;
  height: 35px;
}

@media (min-height: 700px) {
  .paginaInicio{
    gap: 3em;
  }
  #logo {
    width: 600px;
  }
}

@media (min-height: 500px) and (max-height: 560px) {
  .paginaInicio{
    gap: 1.7em;
  }
  #logo {
    width: 450px;
  }
}

@media (max-height: 500px) {
  .paginaInicio{
    gap: 1.4em;
  }
  #logo {
    width: 400px;
  }
}